{% load static %}
{%include 'header.html'%}
{% block content %}

<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">About Us</h1></div>
          </div>
    </div>
    <!--End Page Title-->
    
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                <div class="text-center mb-4">
                    <h2 class="h2">Customers are at the heart of everything we do</h2>
                    <div class="rte-setting">
                        <p><strong>Online Custom Tailoring & Sewing Services</strong></p>
                        <p>Your search for the ideal online stitching service ends right here at eSilai.com. Having provided exceptional ethnic fashion through the digital space to our treasured customers over the years, we have come to understand your fashion needs better. As an extension of our service, we are offering the most skilled, reliable online tailoring service to help you realise your style goals. Our highly professional and, at the same time, customer-centric approach will help you have a pleasant experience in getting customised fashion</p>
                        <p>It will be a sure thrill to see your design sketch transformed into a final outfit when it is delivered to you destination. Our faster stitching and delivery service (currently available only in Mumbai) will ensure that your most awaited online order is there for you just when you need it. Go ahead, send us the details of that outfit you’ve been meaning to stitch for so long. You can trust our online stitching site to take your many ideas and transform them into final outfits.</p>
                
                    </div>
                </div>
               </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload" data-src="/media/products/cape-jacket.webp" src="/media/products/cape-jacket.webp" alt="About Us" /></div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload" data-src="/media/products/anarkali-kurti.webp" src="/media/products/anarkali-kurti.webp" alt="About Us" /></div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload" data-src="/media/products/pallazo-salwar.webp" src="/media/products/pallazo-salwar.webp" alt="About Us" /></div>
        </div>
        <div class="row">
            <div class="col-12">
                 <p>Custom stitch Saree Blouse, Salwar Suits, Anarkali Suits, Kurti Top, Lehenga and ethnic Bottomwear in styles and fit that complement you perfectly! When you choose to stitch clothes that suit you, both personality and fit-wise, you end up with the most amazing set of clothes that speak to your style! Our easy-to-understand website and extremely reachable customer care services will guide you step-by-step in fulfilling that dream custom-stitched collection of outfits</p>
                <p>With everything that is available online for your convenience, it is only right to offer custom-stitching services for you in the digital world too. No long, tiring and disappointing wait at the tailors shop and struggling to explain to them your style wish; just sit back, let the AC run and browse through ALL imaginable designs right here at one place - at great prices too! Our team of fashion designers will personally design these outfits for you and give the tailor accurate instructions. Yes, you will have your own designer coordinating your style for you!</p>
                <p></p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4">
                <h2 class="h2">About BELLE Web</h2>
                <div class="rte-setting"><p><strong>Thanks to our online tailoring service you don’t have to worry about finding the right tailor or finding a designer who understands your fashion needs. Our team of expert designers, tailors, customer representatives will be your trusted partner in achieving a world-class, fashionable, customised wardrobe. We will guide you through the entire design process, pick up your fabric from your home, provide an easy-to-access, latest style guide, stitch your garment to perfection - both in quality and finish, and deliver your dream outfit without any hassle.</strong></p>
                <p></p>
                <p>Thanks to our online tailoring service you don’t have to worry about finding the right tailor or finding a designer who understands your fashion needs. Our team of expert designers, tailors, customer representatives will be your trusted partner in achieving a world-class, fashionable, customised wardrobe. We will guide you through the entire design process, pick up your fabric from your home, provide an easy-to-access, latest style guide, stitch your garment to perfection - both in quality and finish, and deliver your dream outfit without any hassle.</p></div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <h2 class="h2">Contact Us</h2>
                <ul class="addressFooter">
                    <li><i class="icon anm anm-map-marker-al" style="color: black;"></i><p>55 Gallaxy Enque, 2568 steet, 23568 NY</p></li>
                    <li class="phone"><i class="icon anm anm-phone-s"></i><p>(440) 000 000 0000</p></li>
                    <li class="email"><i class="icon anm anm-envelope-l"></i><p>sales@yousite.com</p></li>
                </ul>
                <hr />
                <ul class="list--inline site-footer__social-icons social-icons">
                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Facebook"><i class="icon icon-facebook"></i></a></li>
                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Twitter"><i class="icon icon-twitter"></i> <span class="icon__fallback-text">Twitter</span></a></li>
                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Pinterest"><i class="icon icon-pinterest"></i> <span class="icon__fallback-text">Pinterest</span></a></li>
                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Instagram"><i class="icon icon-instagram"></i> <span class="icon__fallback-text">Instagram</span></a></li>
                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Tumblr"><i class="icon icon-tumblr-alt"></i> <span class="icon__fallback-text">Tumblr</span></a></li>
                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on YouTube"><i class="icon icon-youtube"></i> <span class="icon__fallback-text">YouTube</span></a></li>
                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Vimeo"><i class="icon icon-vimeo-alt"></i> <span class="icon__fallback-text">Vimeo</span></a></li>
                </ul>
            </div>
        </div>
       
        
    </div>
    
</div>

{%endblock%}
{%include 'footer.html'%}